extends includes/layout.pug

block content
    main.layout#content-inner
        #post.h-entry
            a.p-author.h-card(href=url_for("/") rel="author" style='display:none')= config.author
            a.u-url.p-name(href=urlNoIndex() style='display:none')= page.title
            if page.categories.data.length > 0
                a.p-category(href=url_for('/' + page.categories.data[0].path) style='display:none')= page.categories.data[0].name
            if page.not_cover
                include includes/widgets/post/postInfo
            article.post-content.article-container
                if theme.post_ai.enable && page.ai === true
                    include includes/widgets/post/post-ai
                .e-content!= page.content
            include includes/widgets/post/copyright
            .post-tools-right
                .tag_share
                    .post-meta__tag-list
                        each data in page.tags.data || []
                            a(href=url_for(data.path)).post-meta__tags
                                span.tags-punctuation
                                    i.solitude.fa-solid.fa-hashtag
                                    =data.name
                                    span.tagsPageCount=data.length
            if theme.google_adsense.enable && !theme.google_adsense.auto_ads && theme.google_adsense.post_content
                div.google-ads-warp
                    ins.adsbygoogle(style="display:block; text-align:center; height:284px", data-ad-layout="in-article", data-ad-format="fluid", hide-unfilled="true", data-ad-client=theme.google_adsense.client, data-ad-slot=theme.google_adsense.slot)
                    script.
                        (adsbygoogle = window.adsbygoogle || []).push({});
            if site.posts.length > 1
                include includes/widgets/post/postNav
            if theme.related_post.enable
                != related_posts(page, site.posts)
            if page.comment
                - var comment_js = true
                include includes/widgets/third-party/comments/comment
            if theme.indieweb.enable && theme.indieweb.webmention.enable && page.webmention !== false
                !=partial('includes/widgets/third-party/webmention', {}, {cache: true})   
        if page.aside
            include includes/widgets/aside/aside